<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>My VUE JS 3 App</title>
  </head>
  <body>
    <h1>Vue js 3 Store</h1>
    <section class="container" id="app">
      <div
        v-for="item in products"
        :key="item.id"
        id="item-list"
        class="row d-flex mb-3 align-items-center"
      >
        <template v-if="item.price<=Number(max)">
          <div class="row">
            <div class="col-img">
              <img class="img-fluid d-block" :src="item.image" :alt="item.name" />
            </div>
            <div class="col" style="background-color: red">
              <h3 class="text-primary" style="background-color: blue">{{item.name }}</h3>
              <p class="mb-0" style="background-color: purple">{{ item.description }}</p>
              <div class="h5 float-right" style="background-color: green">
                <span class="badge bg-success" v-if="item.price>=90">premier</span>
                <span class="badge bg-primary" v-else-if="item.price<90 && item.price>10"
                  >value</span
                >
                <span class="badge bg-danger" v-else>sale</span>
                <span class="price">${{item.price}} </span>
              </div>
            </div>
          </div>
        </template>
      </div>
    </section>

    <script src="script.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp(StoreVueApp).mount('#app')
    </script>
  </body>
</html>
