h1 {
  margin: 80px auto;
  font-size: 42px;
  text-align: center;
  min-height: 49px;
}
body {
  background-color: #0077b5;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}
img {
  padding: 15px;
  width: 100px;
  display: block;
}
h6 {
  margin: 10px auto;
  font-size: 20px;
  text-align: center;
}
li {
  margin: 10px auto;
  font-size: 20px;
  text-align: center;
}
.badge {
  height: 20px;
  width: 57px;
  margin-bottom: 15px;
  margin-left: 2px;
  margin-right: 5px;
  border: 1px solid black;
  clear: both;
  padding: 3px;
  display: flex;
  align-items: bottom;
  justify-content: center;
}

.bg-danger {
  background-color: red;
}

.bg-success {
  background-color: green;
}

.bg-primary {
  background-color: blue;
}
.price {
  font-size: 23px;
  color: white;
  text-decoration: none;
  background-position: center;
  display: flex;
  align-items: bottom;
  justify-content: center;
}
.col {
  display: flex;
  padding: 10px;
  height: 100px;
}
.col-img {
  float: left;
  padding: 10px;
  height: 100px;
}
template {
  display: flex;
}
.text-primary {
  /*  display: flex;
  justify-content: center;
  align-items: top;
  height: 200px;
  display: block; */
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.mb-0 {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
*/
  margin-bottom: 0 !important;
}
.float-right {
 /* display: flex;
  justify-content: space-evenly;
  align-items: bottom;
  height: 100px; */
  float: right!important;
}
.row {
  display: flex;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.h5, h5 {
  font-size: 1.25rem;
}